.post .post-content {
	color: rgba(0,0,0,0.8);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;

    line-height: 1.6;
    letter-spacing: .01rem;
}

.postShorten .postShorten-content, .postShorten .postShorten-excerpt {
	font: 1em/1.8 -apple-system,BlinkMacSystemFont,microsoft yahei,sans-serif;
}

@media only screen and (min-width: 768px) {
	.post-content {
		font-size: 2.0rem;
	}
}